/* style1.css */
ul.ChartMLRenderingFineControls li, ul.ChartMLRenderingGrossControls li {
	display: inline;
	padding-left: 4px;
}

div.ChartMLRenderingMain {
/*	display: inline; */
}

div.reverse canvas {
	background: black;
}